
@{
    ViewBag.Title = "Itens";
}

<h2>Itens de Pedidos</h2>
<p>Escolha uma opção:</p>
<ul>
    <li>@Html.ActionLink("Incluir Itens em um pedido","IncluirItens", "Itens")</li>
    <li>@Html.ActionLink("Listar Itens por pedido", "ListarItens", "Itens")</li>
</ul>