

    <div> 
        <h1>Conteúdo da view gerada pelo action Index()</h1>
        <h2>Escolha uma opção:</h2>
        <ul>
            <li>@Html.ActionLink("Action ExibirTexto()","ExibirTexto","Home")</li>
            <li>@Html.ActionLink("Action ExibirEmpresa()", "ExibirEmpresa", "Home")</li>
            <li>@Html.ActionLink("Action MostrarPdf()", "MostrarPdf", "Home")</li>
        </ul>

    </div>

