
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exemplo02 - Javascript ImPuro</title>    
</head>
<body>
    <div>
        <form>
            <h1>Simulando um cadastro de produtos</h1>
            <label>Códgio do Produto</label><br />
            <input type="number" id="codigo" /><br /><br />

            <label>Descrição</label><br />
            <input type="text" id="descricao" /><br /><br />

            <label>Preço</label><br />
            <input type="text" id="preco" /><br /><br />

            <input type="button" id="btnExibir" value="Exibir Valores" />
            <br /><br />
            <div id="resultado"></div>
        </form>
    </div>
    <script src="~/FuncoesJS/funcoes_exemplo02.js"></script>    
</body>
</html>
